.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--color-bg-secondary);
    font-family: var(--font-family-sans);
}

.fieldset {
    margin-bottom: 20px;
}

.action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
        text-decoration: none;
        font-size: var(--text-font-size-s);
        color: var(--color-text-secondary);
    }

    a:hover {
        color: var(--color-text-primary);
    }
}
