.hds-root {
  /**
   * @tokens Spacing
   * @presenter Spacing
   */
  --space-2-xs: 2px;
  --space-xs: 4px;
  --space-xss: 6px;
  --space-s: 8px;
  --space-m: 12px;
  --space-l: 16px;
  --space-xl: 24px;
  --space-2-xl: 28px;
  --space-3-xl: 32px;

  /**
   * @tokens Font Families
   * @presenter FontFamily
   */
  --font-family-sans: 'Roboto', sans-serif;

  /**
   * @tokens Font Weights
   * @presenter FontWeight
   */
  --text-font-weight-regular: 400;
  --text-font-weight-medium: 500;
  --text-font-weight-bold: 700;

  /**
   * @tokens Font Sizes
   * @presenter FontSize
   */
  --text-font-size-s: 14px;
  --text-font-size-m: 18px;

  /**
   * @tokens Line Heights
   * @presenter LineHeight
   */
  --text-line-height-s: 18px;
  --text-line-height-m: 24px;

  --button-action-loading-bg-size: 56px;
}
