.signUpMessage {
    display: inline-block;
    padding: var(--space-m) var(--space-l);
    font-size: var(--text-font-size-s);
    border: 1px solid var(--color-bg-placeholder);
    border-radius: 3px;
    text-align: center;
    margin-bottom: var(--space-xl);
}

.icon {
    margin-right: var(--space-m);
    font-size: var(--text-font-size-s);
}
