@define-mixin hds-typography {
    --hds-font-family-sans: 'Roboto', sans-serif;

    --hds-text-body-font-family: var(--hds-font-family-sans);

    --hds-text-body-font-weight: 400;

    --hds-text-body-1-font-size: 14px;
    --hds-text-body-1-line-height: 18px;

    font-family: var(--hds-text-body-font-family);
    font-size: var(--hds-text-body-1-font-size);
    line-height: var(--hds-text-body-1-line-height);
    font-weight: var(--hds-text-body-font-weight);
}
