.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--color-bg-secondary);
    color: var(--color-text-primary);
    font-size: var(--text-font-size-s);
    font-family: var(--font-family-sans);
}

.title {
    color: white;
    font-size: var(--text-title-font-size);
    margin-bottom: var(--space-s);
}

.caption {
    color: var(--color-text-secondary);
    font-size: var(--text-font-size-s);
    margin-bottom: var(--space-xl);
}

.formContainer {
    display: flex;
    height: 345px;
    background-color: var(--color-bg-primary);
    border: 1px solid var(--color-bg-secondary);
    border-radius: var(--border-radius-m);
    width: 100%;
    max-width: 568px;

    @media (--small-viewport) {
        height: auto;
        max-width: 287px;
    }
}

.picture {
    width: 205px;
    background-image: url("@/assets/hawk.png");
    background-position: 50%;
    background-size: cover;
    border-radius: inherit;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    @media (--small-viewport) {
        width: 0;
    }
}

.form {
    padding: var(--space-2-xl) var(--space-6-xl) var(--space-4-xl) var(--space-2-xl);
    flex-grow: 1;
}

.delimiter {
    margin: var(--space-l) 0 var(--space-xl);
}

.links {
    display: flex;
    justify-content: space-between;
}

.navLink {
    text-decoration: none;
    color: var(--color-text-secondary);
    font-size: var(--text-font-size-m);
    font-weight: var(--text-font-weight-bold);
    order: 2;

    &:hover {
        color: var(--color-text-primary);
    }

    &Active {
        color: var(--color-text-primary);
        order: 1;
    }
}
