@import url('../../src/commons/themes/root.css');
@import url('../../src/commons/themes/root-colors-dark.css');
@import url('../../src/commons/themes/root-colors-light.css');

body {
    color: var(--color-text-primary);
    background: var(--color-bg-primary);
    padding: 0 !important;
}

* {
    box-sizing: border-box;
}
